<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-2">
      <%= image_tag "CILogo.png" %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">Citizens Information - Sick Leave Management Application</h2>
        <hr>
        <p class="card-text">This application is in early development, please report any issues to <a href="mailto:luke.coghlan@ciboard.ie">luke.coghlan@ciboard.ie</a></p>
      </div>
    </div>
  </div>
</div>