<h1>Editing Absence for <%= @employee.firstName %> <%= @employee.lastName %></h1>

<%= render 'form', absence: @absence %>

<%= link_to t('.back'), :back, class: "btn btn-outline-secondary mt-4 mb-4" %>